
colortheme-used{
  color:rgba(214, 214, 214, 0.63);
  color:grey;
  color:rgba(252, 192, 73, 0.746);
  color:rgb(6, 42, 61);  
  
  color: #f2ebe8; 
  color: #f6f1ef;
  color: #ddd8d5;
  color: #575655;
}



body{
  color: #575655;/* font color */
  /* background-color: rgb(236, 187, 154); */
  display: grid;
  grid-template-columns: 1fr 250px 750px 1fr;
  /* grid-template-columns: 1fr 375px 1125px 1fr; */
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(95, 100px);
  background-image: url(/img/DJI_0048.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

body.body_presentation{
  color: #575655;/* font color */
  /* background-color: rgb(236, 187, 154); */
  display: grid;
  grid-template-columns: 1fr 250px 750px 1fr;
  /* grid-template-columns: 1fr 375px 1125px 1fr; */
  padding: 0;
  margin: 0;
  /* grid-template-rows: repeat(70, 100px); */
  grid-template-rows: repeat(32, 100px);
  background-image: url(/img/DJI_0048.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

body.body_publication{
  color: #575655;/* font color */
  /* background-color: rgb(236, 187, 154); */
  display: grid;
  grid-template-columns: 1fr 250px 750px 1fr;
  /* grid-template-columns: 1fr 375px 1125px 1fr; */
  padding: 0;
  margin: 0;
  /* grid-template-rows: repeat(70, 100px); */
  grid-template-rows: repeat(21, 100px);
  background-image: url(/img/DJI_0048.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

/* .project_img{

  vertical-align: middle;
  align-items: center;
  align-self: center;
  

} */


.cursive{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;    
}
img.cursive {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  /* background-color: aqua; */
}

/* h7{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  color: #f6f1ef;
  font-family: Millenia;
  font-size: xx-large;
  background-color: seagreen;
  align-self: flex-end;
  padding:10px;

} */


central{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 16;
  background-color: #f6f1ef;
  
}
/* Change this for different lengths in different pages*/
central_presentations{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 28;
  background-color: #f6f1ef;  
}

/* add 3 to footer from central  */

central_publication{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 18;
  background-color: #f6f1ef;  
}

header{
  background-color: #f2ebe8;  
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
  border-style: solid;
  border-color:#ddd8d5;
  border-width: 1px; 
  
  
}

/*start.......................... 1. the menu bar .........................................................start*/
.navigation{  
  color: #575655;
  grid-column-start: 1;
  grid-column-end: span 2;
  /* background-color:#f2ebe8;     */
  font-size: 20px;    
  display:flex;
  flex-direction:row;
  
  justify-content: flex-start; 
  align-items: flex-end;
  padding: 20px; 
  column-gap: 15px;
  
}

/* remove the defult bullet in lists */
ul {
  list-style-type: none; 
   
}
/* remove the default underlines in a */
.navigation li a {    
  text-decoration: none;
  color: #575655;
  padding: 5px;  
  font-family: "Arial Narrow", Arial , sans-serif ;
  vertical-align:sub;  
}
.navigation li a:hover{
  background-color:#86c7af ;
  border-radius: 5px;
  color: #f2ebe8;
  /* border-style: solid;
  border-width: 10px;
  border-color:#f2ebe8 ; */
  
  
}
/*end.......................... 1. the menu bar .........................................................end*/


/*start.......................... 2. the main content/white paper .........................................................start*/

main{
  /* background-color: rgba(202, 202, 202, 0.746); */
  padding: 5px;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 5;
  padding-right: 20px;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("/fonts/Avenir\ Next\ Font.ttf"); 
}
h1{
  font-family:  "Arial Narrow", Arial , sans-serif;
}
p{
  font-family: "Avenir Next" !important;
  font-size: 18px;
  line-height: 1.3;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #ccc;   */
  margin: 1em 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  
  background-color: rgba(121, 119, 119, 0.608);
}

photoArea{
  /* background-color:#f6f1ef; */
  padding: 2%;    
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 5;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-content: flex-start;  
}
projectArea{
  /* background-color: rgba(202, 202, 202, 0.746); */
  /* background-color: rgba(202, 202, 202, 0.746); */
  background-color: #f6f1ef;
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 9;
  grid-row-end: span 86;
  display: flex;
  flex-direction: column;
  border-top: #838383ae;
  border-top-width: 1px;
  border-top-style: solid;


  /* padding-right: 20px; */
}
ProjectRowContainer{
  display:flex;
  flex-direction: column;
  padding:5px;
}
projectRow{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0;
  margin: 0;
  /* grid-template-rows: repeat(20, 100px); */
}
projectRowItem1{
  grid-column-start: 1;
  grid-column-end: span 1;
  /* padding: 10px; */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

}
projectRowItem2{
  grid-column-start: 2;
  grid-column-end: span 1;
  /* padding: 10px; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* align-content: center;
  align-items: center; */
  /* vertical-align: middle; */
  align-items: center;
  /* align-content: center; */
  
  
}
projectRowItem1 img{
  padding:2px;
}

photoArea img{
  max-width: 180px;
  padding: 15px;
  /* background-color: cadetblue; */
  /* background-color: rgb(255, 255, 255); */
  align-self: center;
}
photoArea h1{
  font-size: 25px;
  align-self: center;  
  text-align: center; 
  padding: 1px;  
}
mediaLinks{
  /* background-color: rgb(106, 160, 95); */
  /* background-color: rgb(255, 255, 255); */
  align-self: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 160px;
}
mediaLinks img{
  align-self: flex-start;
  max-height: 30px;
  padding: 5px;   
  transition: 0.3s; 
}
mediaLinks img:hover{  
  max-height: 35px;
  padding: 1px;
}

/* start..............pdf cv.................................................................start*/

object{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 11;   
  max-width:100%;
  padding: 5px;
  justify-self: center;

}
/* end..............pdf cv .................................................................start*/

/*end.......................... 2. the main content/white paper .............................................end*/



/* start.......11111111111111.......image carousel .......................................................start*/
carousel{
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 7;
  grid-row-end: span 4; /* 5 times 100 px */
  align-self:center;
  padding: 5px;  
  /* border-style: solid;
  border-top: #ddd8d5;
  border-bottom: #ddd8d5;
  border-color:#ddd8d5;
  border-width: 1px;   */
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  width: 740px;
  
  /* max-width: 1000px; */
  height: 300px;
  position: relative;
  margin: auto;
  background-color: #f6f1ef;
  display:flex; 
  justify-content: center;
  align-items: center;
}

.mySlides img{
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);   
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 6px;
  margin-top: -22px;
  color: #76b49d;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:#86c7af ;
  border-radius: 5px;
  color: #f2ebe8;
}

/* Caption text */
.slideshow-container .text {
  color: #575655;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 0%); 
  align-self: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bfdfd4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #76bda3;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* end..........111111111.......image carousel .............................................................end*/

para{
  padding: 5px;
  padding-right: 20px;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 11;
  grid-row-end: span 2;
}

footer{
  padding: 5px;  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: span 1;
  grid-row-end: 95;
  background-color: #f2ebe8;   
  border-style: solid;
  border-color:#ddd8d5;
  border-width: 1px; 
  text-align: center;
  align-self: center;
}

/* footer{
  padding: 0px;   
  background-color: #f2ebe8;   
  border-style: solid;
  border-color:#ddd8d5;
  border-width: 1px; 
  text-align: center;
  align-self: center;
  width: 1000px;
  margin-top: 50px;
} */

footer_presentations{
  padding: 5px;  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: span 1;
  grid-row-end: 31;
  background-color: #f2ebe8;   
  border-style: solid;
  border-color:#ddd8d5;
  border-width: 1px; 
  text-align: center;
  align-self: center;
}
footer_publication{
  padding: 5px;  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: span 1;
  grid-row-end: 21;
  background-color: #f2ebe8;   
  border-style: solid;
  border-color:#ddd8d5;
  border-width: 1px; 
  text-align: center;
  align-self: center;
}

/*start..........publication page .............................................................start*/
publ_content{
  padding: 35px;  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 18;
}
/*end..........publication page .............................................................end*/

/*start..........presentations page ..................................................start*/
presentation_block{
  display:flex;  
  padding: 5px;
  margin: 35px;
  background-color: rgb(219, 218, 218);
}

presentation_content{
  padding: 35px;  
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 28;
}

p.ppt_text{
  background-color: rgb(219, 218, 218);
  padding:35px;
  max-width: 400px;
  max-height: 500px;
  margin: 0px;
}

media.ppt_text{
  background-color: rgb(219, 218, 218);  
  max-width: 600px;
  max-height: 500px;  
}

/*end..........presentations page .......................................................end*/